[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/samba"]
	path = modules/samba
	url = https://github.com/thias/puppet-samba.git
[submodule "modules/network"]
	path = modules/network
	url = https://github.com/attachmentgenie/puppet-module-network.git
